[submodule "UOP-COMP1003-Converter"]
	path = UOP-COMP1003-Converter
	url = https://github.com/lewmilburn/UOP-COMP1003-Converter
[submodule "UOP-COMP2002-Tasks"]
	path = UOP-COMP2002-Tasks
	url = https://github.com/lewmilburn/UOP-COMP2002-Tasks
[submodule "UOP-COMP3006-Worksheets"]
	path = UOP-COMP3006-Worksheets
	url = https://github.com/lewmilburn/UOP-COMP3006-Worksheets
[submodule "Embedded-Systems"]
	path = Embedded-Systems
	url = https://github.com/lewmilburn/Embedded-Systems
[submodule "comp3006-ws9-ex3"]
	path = comp3006-ws9-ex3
	url = https://github.com/lewmilburn/comp3006-ws9-ex3
[submodule "UOP-COMP3006-WS9-EX3"]
	path = UOP-COMP3006-WS9-EX3
	url = https://github.com/lewmilburn/UOP-COMP3006-WS9-EX3.git
[submodule "CoreBlue-BoatCo"]
	path = CoreBlue-BoatCo
	url = https://github.com/lewmilburn/CoreBlue-BoatCo.git
[submodule "uop-hotel-app"]
	path = uop-hotel-app
	url = https://github.com/lewmilburn/uop-hotel-app.git
[submodule "vault"]
	path = vault
	url = https://github.com/lewmilburn/vault.git
